@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url("./images/4k-desktop-wallpaper.-1920×1200.jpg");
  
}

.container {
  background-color: rgba(206, 216, 218, 0.308);
  max-width: 900px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid rgb(0, 0, 0);
  padding: 30px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
div .header {
  text-align: center;
}
.btn {
  display: inline-block;
  background: rgb(211, 167, 22);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
